.avatar{
    background-color: white;

    border-radius: 50%;
    border: 1px solid white;
    
    max-width: 100px;
    pointer-events: none;

    box-shadow: -1px 1px 1px 1px white;
}
.small{
    max-width: 50px;
}

.large{
    max-width: 150px;
}