.profile-card {
  min-width: 300px;
  max-width: 400px;

  min-height: 225px;
  max-height: 325px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-image: url(/src/theme/Assets/Images/profileCard.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
